.product {
  display: flex;
  margin: 0 1rem;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.productImg {
  flex: 1;
}
.productImg img {
  width: 100%;
  max-width: 50rem;
  padding: 4rem;
}
.productText {
  flex: 1;
}
h2 {
  font-size: 1.8rem;
  line-height: 2.3rem;
}
.productText p {
  margin-top: 2rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

@media screen and (max-width: 40rem) {
  .product {
    flex-direction: column;
  }
}

.benefits {
  display: flex;
  flex-direction: column;
  margin: 0 5rem;
  justify-content: space-around;
  align-items: start;
  gap: 1rem;
  margin-top: 5rem;
}

.cards {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  flex: 1 1 20rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0.7rem;
  padding: 1.7rem;
  max-width: 40rem;
  background-color: white;
}
.card img {
  width: 3rem;
  margin: 1rem;
}
.cardTitle {
  font-size: 1.4rem;
  font-weight: 600;
}
.cardDescription {
  margin-top: 1rem;
  font-size: 1rem;
}
