*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider{
    position: relative;
    width: 80vw;
    margin: auto;
    overflow: hidden;
}
.slider img{
    width: 100%;
    display: none;
}
img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}
.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    border: none;
    padding: 2rem;
}
.previous{
    left: 0;
}
.next{
    right: 0;
}

@keyframes fade {
    from{opacity: 0.5;}
    to{opacity: 1;}
}