body{
    background-color: black;
}
h1{
    color:white;
    font-family: "Press Start 2P","consolas",sans-serif;

}
p{
     color:#00ff73;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-style: italic;
     font-weight: bold;
     text-decoration: dotted underline cyan;
     font-size:18px;

}
