.box1{
    border: 4px solid;
    background-color: skyblue;
    width:400px;
    height: 400px;
    font-size: 80px;

    transform: scale(2,2); 
    /*整体缩放2倍*/
    transform: scaleX(2); 
    /*横向缩放2倍*/
    transform: scaleY(2); 
    /*纵向缩放2倍*/
    transform: translateX(50px);
    /* 横向平移50px */
    transform: translateY(50px);
    /* 纵向平移50px */
    transform: translate(50px,50px);
    /* 横纵向各平移50px */
    transform: skewX(45deg);
    /* 横向倾斜45度 */
    transform: skewY(45deg);
    /* 纵向倾斜45度 */
    transform: skew(20deg, 20deg);
    /* 横向纵向各倾斜20度 */
    transform:rotateX(180deg);
    /*翻转180度*/
    transform:rotateY(180deg);
    /*翻转180度*/
    transform:rotate(180deg);
    /*翻转180度*/
    transform:matrix(2,0,0,2,250,250);
    /* (scaleX,skewY,skewX,scaleY,translateX,translateY) */


}